<h1><%= @restaurant.name %></h1>

<h2>What time would you like to book for?</h2>

<div class="seating-box">
  <% @restaurant.seatings.where("date = ?", params[:seating][:date]).each do |each_seating| %>

    <div class="each-seating" style="cursor: pointer;" onclick="window.location='<%=  new_restaurant_seating_reservations_path(seating_id: each_seating.id, date: params[:seating][:date] ) %>'">
      <h3><%= each_seating.start_hour %>pm</h3>
      <p>Remaining seats: <%= each_seating.remaining_seats %></p>
    </div>
    <% end  %>
</div>
