<div class="restaurant-summary">
  <h2><%= restaurant.name %></h2>
  <p>
    <%= restaurant.description ? restaurant.description : "Restaurant Description: Describe the food and general vibe, etc." %>
  </p>
  <p>
    Most popular dishes
  </p>
  <p>
    Price range: <%= restaurant.price_range %>
  </p>
</div>
