<div class="box">
  <%= render "display", restaurant: @restaurant%>
</div>

<%= link_to 'See Reservations', restaurant_seatings_path() %>

<%= link_to 'Edit', edit_restaurant_path %>
<br>
<%= link_to 'Back to index', restaurants_path %>
