// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  margin-top:80px;

  display: grid;
  width: auto;
  grid-template-areas:
    "gutter pic desc desc gutter2"
    "gutter menus menus contact gutter2";
  grid-template-columns: 40px 200px auto 200px 40px;
  grid-template-rows: 200px auto;


  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.restaurant-image {
  grid-area: pic;
}

.summary-and-reservations {
  grid-area: desc;
  display:flex;
  flex-direction: column;
}
.restaurant-summary {
  height: 50%;
}

.reservations-box {
  height:50%;
}

.menu-box {
  grid-area: menus;
}

.info-box {
  grid-area: contact;

  .contact-info {
    margin-bottom: 5px;
    ul {
      list-style: none;
    }

  }

}
